.homeBox{
    padding-top:10%;
    text-align: center;
}
.homeHead{
    font: 2.5em "Raleway", sans-serif;
    letter-spacing: 1.5px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5%;
}
.makeAcct{
    padding-top:7%;
    font: 1.3em "Raleway", sans-serif;
}
.errorMessage{
    font: 1.8em "Raleway", sans-serif;
    color: red;
    font-weight: bold;
}
.formText{
    font: 1.3em "Raleway", sans-serif;
    color: #333;
    text-align: center;
    padding-top: 1%;
}
.formField{
    padding-left:38%;
    padding-right:38%;
}

.formButton{
    padding-top:2%;

}

.hideMessage { 
    opacity: 0%;
    font: 1.8em "Raleway", sans-serif;
    font-weight: bold;
}