@charset "UTF-8";

.navbar {
  z-index: 10;
  width: 100%;
  background: #1b2b4b!important;
  height: 7%;
  margin: 0;
}

.navbarTitle{
  font: 1.7em "Raleway", sans-serif;
  font-weight: "bold";
  letter-spacing: 1.5px;
  color: white !important;
  text-transform: uppercase;
  margin: 0;
}

.navbarTitle:hover {
  cursor: pointer;
  color: orange !important;
}


.link {
  font: 1.7em "Raleway", sans-serif;
  font-weight: "bold";
  color: white !important;
  margin-left: 1em;
}
.link:hover {
  cursor: pointer;
  color: orange !important;
}

.navImage{
  float: left;
  padding-bottom: 2%;
  padding-right: 3%;
  background-color:  transparent;
  transform: scale(1.2);
  z-index: 0;
}


.brandbox{
  z-index: 10;
  width:500px;
}
