@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.navbar {
  z-index: 10;
  width: 100%;
  background: #fffdf9;
  height: 7%;
  margin: 0;
}

.navbarTitle{
  font: 1.7em "Raleway", sans-serif;
  letter-spacing: 1.5px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

.navbarTitle:hover {
  cursor: pointer;
  color: #01579B !important;
}


.link {
  text-transform: uppercase;
  font: 1.6em "Raleway", sans-serif;
  color: #333;
}
.link:hover {
  cursor: pointer;
  color: #01579B !important;
}

.navImage{
  float: left;
  padding-bottom: 2%;
  padding-right: 3%;
  background-color:  transparent;
  transform: scale(1.2);
  z-index: 0;
}


.brandbox{
  z-index: 10;
  width:500px;
}
