.homeBox{
    padding-top:6%;
    text-align: center;
}
.homeHead{
    font: 2.5em "Raleway", sans-serif;
    letter-spacing: 1.5px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5%;
}

.accordionHeader{
    font: 1.5em "Raleway", sans-serif;
    letter-spacing: 1.5px;
    color: #333;
}