
.mask {
    width: 95%;
    height: 85.5%;
    position: absolute;
    top: 12.5%;
    left: 2.5%;
    bottom: 1.5%;
    filter: blur(3px);
  }

  .container{
    position: relative;
    display: inline-block;
  }
  .empty{
    display: none;
  }